<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.archive.mapper.CollegeMapper">

    <resultMap id="BaseResultMap" type="com.student.archive.entity.College">
        <id column="pk_college" property="pkCollege"/>
        <result column="college_name" property="collegeName"/>
        <result column="college_code" property="collegeCode"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM college WHERE pk_college = #{pkCollege}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM college
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM college
        <where>
            <if test="collegeName != null and collegeName != ''">
                AND college_name LIKE CONCAT('%', #{collegeName}, '%')
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="pkCollege">
        INSERT INTO college (college_name, college_code) VALUES (#{collegeName}, #{collegeCode})
    </insert>

    <update id="update">
        UPDATE college
        <set>
            <if test="collegeName != null">college_name = #{collegeName},</if>
            <if test="collegeCode != null">college_code = #{collegeCode},</if>
        </set>
        WHERE pk_college = #{pkCollege}
    </update>

    <delete id="deleteById">
        DELETE FROM college WHERE pk_college = #{pkCollege}
    </delete>
</mapper>
