<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.archive.mapper.SysRolePermissionMapper">

    <select id="selectByRoleId" resultType="com.student.archive.entity.SysRolePermission">
        SELECT pk_role_perm, role_id, perm_id FROM sys_role_permission WHERE role_id = #{roleId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="pkRolePerm">
        INSERT INTO sys_role_permission (role_id, perm_id) VALUES (#{roleId}, #{permId})
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_role_permission (role_id, perm_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permId})
        </foreach>
    </insert>
</mapper>
